*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 10px; }

body {
  box-sizing: border-box; }

body {
  font-family: "Fira sans", sans-serif;
  font-weight: 400; }

.heading-primary {
  color: #f7f7f7;
  font-family: "Montserrat", sans-serif; }
  .heading-primary--main {
    display: block;
    font-size: 4rem;
    font-weight: 100;
    margin-top: 0; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 1rem; }

.heading-secondary {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 3.5rem;
  color: #0b6890;
  text-align: center;
  text-transform: uppercase; }

.heading-tertiary {
  font-family: "Montserrat", sans-serif;
  color: #0b6890;
  font-size: 2.2rem; }

.paragraph {
  font-family: "Fira sans", sans-serif;
  text-align: justify;
  font-size: 2rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-small {
  margin-top: 2rem !important; }

.navigation {
  position: relative; }
  .navigation__nav {
    position: absolute;
    width: 100%;
    z-index: 999;
    transition: top 0.3s; }
  .navigation__list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 0 3%;
    margin: 0; }
  .navigation__item {
    margin: 0 1rem;
    padding: 1rem 0; }
  .navigation__link {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.6rem; }
    .navigation__link:hover, .navigation__link:focus, .navigation__link:active {
      color: #fff;
      text-decoration: none; }
    .navigation__link:after {
      content: "";
      display: block;
      bottom: 3px;
      left: 0;
      height: 2px;
      width: 100%;
      /*line color*/
      background-color: #fff;
      transform-origin: right bottom;
      transform: scale(0, 1);
      transition: color 0.1s, transform 0.2s ease-out;
      -webkit-box-shadow: 0px 0px 39px -6px rgba(255, 255, 255, 0.75);
      -moz-box-shadow: 0px 0px 39px -6px rgba(255, 255, 255, 0.75);
      box-shadow: 0px 0px 39px -6px rgba(255, 255, 255, 0.75); }
      .navigation__link:after:active::after {
        background-color: #fff; }
    .navigation__link:hover::after, .navigation__link:focus::after {
      transform-origin: left bottom;
      transform: scale(1, 1); }
  .navigation__logo-box {
    position: absolute;
    top: 1rem;
    left: 1rem;
    height: 4rem;
    width: 4rem;
    color: #fff;
    text-align: center; }
  .navigation__logo-icon {
    width: 100%;
    height: 100%;
    display: inline-block;
    text-decoration: none;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
    margin: 0;
    color: #fff; }
  .navigation .scrolling {
    background-color: rgba(59, 59, 59, 0.5);
    height: 6rem;
    position: fixed;
    transition: all 0.5s;
    z-index: 9999; }

.btn:link, .btn:visited {
  font-size: 1.6rem;
  color: #0b6890;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #0b6890;
  padding: 3px;
  transition: all 0.2s; }

.btn:hover {
  color: #f7f7f7;
  background-color: #0b6890;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.btn:link, .btn:visited {
  font-size: 1.6rem;
  color: #0b6890;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #0b6890;
  padding: 3px;
  transition: all 0.2s; }

.btn:hover {
  color: #f7f7f7;
  background-color: #0b6890;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.section-about {
  position: relative;
  height: auto;
  padding: 5rem 5%; }

.section-projects {
  padding: 5rem 5%;
  box-sizing: border-box; }

.header {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 0 15%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url(../img/bck2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #000;
  z-index: 1; }
  .header__name-container {
    margin: 0;
    padding: 1rem;
    box-sizing: border-box;
    z-index: 2;
    /*display: flex;
          flex-direction: row;
          flex-wrap: wrap;*/
    color: #fff;
    background-color: rgba(77, 77, 77, 0.29);
    text-align: center; }
  .header__scroll {
    width: 3rem;
    height: auto;
    position: absolute;
    z-index: 4;
    align-self: center;
    top: 85%; }
    .header__scroll-icon {
      color: #f7f7f7;
      text-align: center;
      font-size: 3rem;
      font-weight: 100; }

.about__container {
  display: flex;
  flex-direction: row; }

.about__content-box {
  flex-basis: 50%;
  box-sizing: border-box;
  margin: 1rem 2.5rem; }

.about__skills-list {
  list-style-type: none;
  line-height: 2rem;
  font-size: 1.6rem;
  -webkit-padding-start: 0;
  margin-left: 0;
  padding-left: 0; }

.about__item {
  padding: 0.4rem;
  font-size: 2rem; }

.about__link:link {
  text-decoration: none;
  color: #000;
  font-weight: 600; }

.project__container {
  width: 80%;
  height: auto;
  margin: 40px auto;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative; }

.project__image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  object-fit: cover; }

.tile {
  flex-basis: 40%;
  margin: 1em 5%;
  height: 300px;
  box-sizing: border-box;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative; }
  .tile__side {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.8s ease;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 0.3rem;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .tile__side--back {
      height: 100%;
      text-align: center;
      padding: 1rem 2rem;
      transform: rotateY(180deg);
      background-image: linear-gradient(to right bottom, #eee, #4d4d4d); }
  .tile__group--1 {
    order: 1; }
  .tile__group--6 {
    order: 2; }
  .tile__group--2, .tile__group--3, .tile__group--4, .tile__group--5 {
    order: 6; }
  .tile:hover .tile__side--front {
    transform: rotateY(-180deg); }
  .tile:hover .tile__side--back {
    transform: rotateY(0); }
  .tile__project-detail-1 {
    font-size: 2rem;
    font-weight: 300;
    color: #f7f7f7;
    display: block;
    width: 70%;
    margin: 1rem auto;
    text-transform: none; }
    .tile__project-detail-1:first-child {
      margin-top: 0.5rem; }
  .tile__project-detail-2 {
    display: block;
    font-size: 1.8rem;
    font-weight: 300;
    color: #f7f7f7;
    display: block;
    border-bottom: 1px solid #eee; }
    .tile__project-detail-2:not(:last-child) {
      padding-bottom: 1.2rem; }
