/*
0-600px: phone
600-900px: tablet portrait
900-1200px: tablet landscape
[1200 - 1800px] - normal styles apply for desktop first
1800px+: big desktop

$breakpoint argument choices
-phone
-tab-port
-tab-land
-big-desktop

ORDER: base + typography > general layout  + grid > page layout > components
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

body {
  font-family: "Fira sans", sans-serif;
  font-weight: 400; }

.heading-primary {
  color: #f7f7f7;
  font-family: "Montserrat", sans-serif; }
  .heading-primary--main {
    display: block;
    font-size: 4rem;
    font-weight: 100;
    margin-top: 0; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 1rem; }

.heading-secondary {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 3.5rem;
  color: #0b6890;
  text-align: center;
  text-transform: uppercase; }

.heading-tertiary {
  font-family: "Montserrat", sans-serif;
  color: #0b6890;
  font-size: 2.2rem; }

.paragraph {
  font-family: "Fira sans", sans-serif;
  text-align: justify;
  font-size: 2rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-small {
  margin-top: 2rem !important; }

.u-align-text-left {
  text-align: left !important; }

.navigation {
  position: relative; }
  .navigation__nav {
    position: absolute;
    width: 100%;
    z-index: 999;
    transition: top 0.3s; }
  .navigation__list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 0 3%;
    margin: 0; }
    @media (max-width: 37.5em) {
      .navigation__list {
        height: 0;
        overflow: hidden;
        text-align: center;
        width: 40%;
        margin: 0 0 0 auto; }
        .navigation__list.open {
          margin-top: 2rem;
          overflow: initial;
          flex-direction: column;
          justify-content: flex-start;
          align-content: center;
          height: 100vh;
          width: 100%;
          background-image: linear-gradient(to right bottom, #a6a6a6, #737373);
          z-index: 1000000; } }
  .navigation__item {
    margin: 0 1rem;
    padding: 1rem 0; }
    @media (max-width: 37.5em) {
      .navigation__item {
        margin: 1rem auto;
        width: 30%;
        border-bottom: 1px solid rgba(238, 238, 238, 0.2);
        cursor: pointer; }
        .navigation__item:hover {
          background-color: rgba(59, 59, 59, 0.6); } }
  .navigation__link {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.8rem; }
    .navigation__link:hover, .navigation__link:focus, .navigation__link:active {
      color: #fff;
      text-decoration: none; }
    .navigation__link:after {
      content: "";
      display: block;
      bottom: 3px;
      left: 0;
      height: 2px;
      width: 100%;
      /*line color*/
      background-color: #fff;
      transform-origin: right bottom;
      transform: scale(0, 1);
      transition: color 0.1s, transform 0.2s ease-out;
      -webkit-box-shadow: 0px 0px 39px -6px rgba(255, 255, 255, 0.75);
      -moz-box-shadow: 0px 0px 39px -6px rgba(255, 255, 255, 0.75);
      box-shadow: 0px 0px 39px -6px rgba(255, 255, 255, 0.75); }
      .navigation__link:after:active::after {
        background-color: #fff; }
    .navigation__link:hover::after, .navigation__link:focus::after {
      transform-origin: left bottom;
      transform: scale(1, 1); }
    @media (max-width: 37.5em) {
      .navigation__link {
        text-align: center;
        margin: 0 auto; }
        .navigation__link::after {
          transform: none;
          transition: none;
          height: 0; } }
  .navigation__logo-box {
    position: absolute;
    top: 1rem;
    left: 1rem;
    height: 4rem;
    width: 4rem;
    color: #fff;
    text-align: center; }
    @media (max-width: 37.5em) {
      .navigation__logo-box {
        display: none; } }
  .navigation__logo-icon {
    width: 100%;
    height: 100%;
    display: inline-block;
    text-decoration: none;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
    margin: 0;
    color: #fff; }
  .navigation .scrolling {
    background-color: rgba(59, 59, 59, 0.5);
    height: 6rem;
    position: fixed;
    transition: all 0.5s;
    z-index: 100; }
  @media (max-width: 37.5em) {
    .navigation__mobile-menu {
      display: block;
      height: 4rem;
      width: 100%;
      color: #eee;
      cursor: pointer;
      margin: 0; } }
  @media (max-width: 37.5em) {
    .navigation__mobile-menu-icon {
      display: block;
      font-size: 3.1rem;
      float: right;
      margin-top: 0.8rem;
      margin-right: 2rem; } }

.btn:link, .btn:visited {
  font-size: 1.6rem;
  color: #0b6890;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #0b6890;
  padding: 3px;
  transition: all 0.2s; }

.btn:hover {
  color: #f7f7f7;
  background-color: #0b6890;
  border-radius: 3px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.btn:link, .btn:visited {
  font-size: 1.6rem;
  color: #0b6890;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #0b6890;
  padding: 3px;
  transition: all 0.2s; }

.btn:hover {
  color: #f7f7f7;
  background-color: #0b6890;
  border-radius: 3px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.header {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 0 15%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url(../img/header-small.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #000;
  z-index: 1; }
  @media (min-resolutuion: 192dpi) and (min-width: 37.5em), (min-width: 75em) {
    .header {
      background-image: url(../img/header-big.jpg); } }
  .header__name-container {
    margin: 0;
    padding: 1rem;
    box-sizing: border-box;
    z-index: 2;
    /*display: flex;
          flex-direction: row;
          flex-wrap: wrap;*/
    color: #fff;
    background-color: rgba(77, 77, 77, 0.29);
    text-align: center; }
    @media (max-width: 37.5em) {
      .header__name-container {
        background-color: transparent; } }
  .header__scroll {
    width: 3rem;
    height: auto;
    position: absolute;
    z-index: 4;
    align-self: center;
    top: 85%; }
    .header__scroll-icon {
      color: #f7f7f7;
      text-align: center;
      font-size: 3rem;
      font-weight: 100; }

.about__container {
  display: flex;
  flex-direction: row; }
  @media (max-width: 56.25em) {
    .about__container {
      flex-direction: column; } }

.about__content-box {
  flex-basis: 50%;
  box-sizing: border-box;
  margin: 1rem 2.5rem; }

.about__skills-list {
  list-style-type: none;
  line-height: 2rem;
  font-size: 1.6rem;
  -webkit-padding-start: 0;
  margin-left: 0;
  padding-left: 0; }

.about__item {
  padding: 0.4rem;
  font-size: 2rem; }

.about__link:link {
  text-decoration: none;
  color: #000;
  font-weight: 600; }

.project__container {
  width: 80%;
  height: auto;
  margin: 40px auto;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative; }

.project__image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  object-fit: cover; }

.tile {
  flex-basis: 40%;
  margin: 1em 5%;
  height: 300px;
  box-sizing: border-box;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative; }
  .tile__side {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.8s ease;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 0.3rem;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .tile__side--back {
      height: 100%;
      text-align: center;
      padding: 1rem 2rem;
      transform: rotateY(180deg);
      background-image: linear-gradient(to right bottom, #a6a6a6, #737373); }
  @media (max-width: 56.25em) {
    .tile {
      flex-basis: 90%; } }
  .tile__group--1 {
    order: 1; }
  .tile__group--6 {
    order: 2; }
  .tile__group--2, .tile__group--3, .tile__group--4, .tile__group--5 {
    order: 6; }
  .tile:hover .tile__side--front {
    transform: rotateY(-180deg); }
  .tile:hover .tile__side--back {
    transform: rotateY(0); }
  .tile__project-detail-1 {
    font-size: 2rem;
    font-weight: 300;
    color: #f7f7f7;
    display: block;
    width: 70%;
    margin: 1rem auto;
    text-transform: none; }
    .tile__project-detail-1:first-child {
      margin-top: 0.5rem; }
  .tile__project-detail-2 {
    display: block;
    font-size: 1.8rem;
    font-weight: 300;
    color: #f7f7f7;
    display: block;
    border-bottom: 1px solid #eee; }
    .tile__project-detail-2:not(:last-child) {
      padding-bottom: 1.2rem; }

.photo__wrapper {
  max-width: 800px;
  margin: 0 auto; }

.photo__slides {
  position: relative;
  display: block;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2); }
  .photo__slides:focus {
    outline: 0; }

.photo__figure {
  position: absolute;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
  -webkit-transition: opacity 1.2s;
  transition: opacity 1.2s; }
  .photo__figure:first-child {
    position: relative; }
  .photo__figure img {
    display: block; }

.photo__nav {
  height: 30px;
  display: block;
  width: 100%;
  text-align: center;
  line-height: 2.5rem;
  position: relative;
  font-family: "Montserrat", sans-serif;
  justify-content: center;
  display: flex;
  flex-direction: row; }
  .photo__nav-list {
    list-style-type: none;
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center; }

.photo__item {
  width: 15px;
  height: 20px;
  line-height: 25px;
  font-size: 32px;
  border: none;
  display: inline-block;
  background: transparent;
  color: #0b6890;
  position: relative;
  outline: none; }
  .photo__item::before {
    content: "\2022";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
  .photo__item.selected {
    opacity: 0.5; }

.photo__more:link, .photo__more:visited {
  align-self: center;
  text-decoration: none;
  color: #0b6890;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  position: absolute;
  right: 0;
  font-weight: bold; }

.next,
.prev {
  color: #fff;
  position: absolute;
  background: #000;
  background: rgba(0, 0, 0, 0.6);
  top: 50%;
  z-index: 4;
  font-size: 2em;
  margin-top: -1.2em;
  opacity: 0.5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.next:hover,
.prev:hover,
nav button:hover {
  cursor: pointer;
  opacity: 1; }

.next {
  right: 0;
  padding: 10px 5px 15px 10px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px; }

.prev {
  left: 0;
  padding: 10px 10px 15px 5px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px; }

.none {
  display: none; }

.show {
  z-index: 3;
  opacity: 1; }

.contact__col-first {
  flex-basis: 65%; }

.contact__col-second {
  flex-basis: 35%;
  height: 100%; }

.contact__more {
  color: #686868;
  display: block;
  text-align: left;
  font-size: 1.8rem;
  margin-bottom: 2rem; }

.contact__social-label {
  color: #686868;
  display: block;
  text-transform: uppercase;
  font-size: 2rem;
  padding: 1rem 0 0; }

.contact____social-link {
  padding: 1rem;
  text-decoration: none; }

.contact__mail {
  font-size: 1.6rem;
  text-decoration: none;
  color: #0b6890; }

.contact__icon {
  font-size: 2.2em;
  padding: 1rem;
  color: #0b6890; }

.footer {
  max-width: 1800px;
  height: 200px;
  background: url(../img/footer-small.jpg);
  z-index: 1;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media (min-resolutuion: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
    .footer {
      background-image: url(../img/footer.jpg); } }
  .footer__copyrights:link, .footer__copyrights:visited {
    font-size: 1.6rem;
    display: block;
    height: auto;
    width: 50%;
    margin: 40px auto;
    color: #fff;
    text-decoration: none;
    text-align: center; }

.section-about {
  position: relative;
  height: auto;
  padding: 5rem 5%; }

.section-projects {
  padding: 2rem 5%;
  box-sizing: border-box; }

.section-photos {
  padding: 1rem 5%; }

.section-contact {
  padding: 50px 5%;
  width: 80%;
  margin: 4rem auto 0;
  display: flex;
  flex-direction: row; }
  @media (max-width: 56.25em) {
    .section-contact {
      width: 100%; } }
