//Colors

$color-white: #fff;

$color-grey-dark: #3b3b3b;
$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;

//Fonts

$default-font-size: 1.6rem;

$font-family-primary: "Montserrat", sans-serif;
$font-family-secondary: "Fira sans", sans-serif;
