//Colors

$color-white: #fff;
$color-black: #000;

$color-grey-dark: #3b3b3b;
$color-grey-dark-2: #4d4d4d;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;
$color-gray-light-3: #686868;

$color-blue-primary: #0b6890;
$color-blue-secondary: #0b6890;

//Fonts

$default-font-size: 1.6rem;

$font-family-primary: "Montserrat", sans-serif;

$font-family-secondary: "Fira sans", sans-serif; //pics gallery
