.footer {
  max-width: 1800px;
  height: 200px;
  background: url(../img/footer-small.jpg);
  z-index: 1;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include respond(phone) {
    height: 120px;
  }

  @media (min-resolutuion: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
    background-image: url(../img/footer.jpg);
  }

  &__copyrights {
    &:link,
    &:visited {
      font-size: $default-font-size;
      display: block;
      height: auto;
      width: 50%;
      margin: 40px auto;
      color: $color-white;
      text-decoration: none;
      text-align: center;
    }
  }
}
