.header {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 0 15%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url(../img/header-small.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $color-black;
  z-index: 1;

  //safari doesn't support min-resolution

  @media only screen and (min-resolutuion: 192dpi) and (min-width: 37.5em),
    (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
    (min-width: 75em) {
    background-image: url(../img/header-big.jpg);
  }

  @media only screen and (min-width: 75em) {
    background-image: url(../img/header-big.jpg);
  }

  &__name-container {
    margin: 0;
    padding: 1rem;
    box-sizing: border-box;
    z-index: 2;
    /*display: flex;
          flex-direction: row;
          flex-wrap: wrap;*/
    color: $color-white;
    background-color: rgba($color-grey-dark-2, 0.29);
    text-align: center;
    @include respond(phone) {
      background-color: transparent;
    }
  }

  &__scroll {
    width: 3rem;
    height: auto;
    position: absolute;
    z-index: 4;
    align-self: center;
    top: 85%;
    &-icon {
      color: $color-gray-light-1;
      text-align: center;
      font-size: 3rem;
      font-weight: 100;
    }
  }
}
