.section-about {
  position: relative;
  height: auto;
  padding: 5rem 5%;
}

.section-projects {
  padding: 2rem 5%;
  box-sizing: border-box;
}

.section-photos {
  padding: 1rem 5%;
}

.section-contact {
  padding: 50px 5%;
  width: 80%;
  margin: 80px auto;
  display: flex;
  flex-direction: row;
}
