.photo {
  &__wrapper {
    max-width: 800px;
    margin: 0 auto;
  }

  &__slides {
    position: relative;
    display: block;
    &:focus {
      outline: 0;
    }
  }
  &__figure {
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    opacity: 0;
    -webkit-transition: opacity 1.2s;
    transition: opacity 1.2s;
    &:first-child {
      position: relative;
    }
    & img {
      display: block;
    }
  }

  &__nav {
    height: 30px;
    display: block;
    width: 100%;
    text-align: center;
    line-height: 2.5rem;
    position: relative;
    font-family: $font-family-primary;
    justify-content: center;
    display: flex;
    flex-direction: row;

    &-list {
      list-style-type: none;
      display: block;
      width: 100%;
      height: auto;
      margin: 0;
      padding: 0;
      display: flex;
      text-align: center;
      justify-content: center;
      align-content: center;
    }
  }
  &__item {
    width: 15px;
    height: 20px;
    line-height: 25px;
    font-size: 32px;
    border: none;
    display: inline-block;
    background: $color-white;
    color: $color-blue-secondary;
    position: relative;
    outline: none;

    &::before {
      content: "\2022";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }

  &__more {
    &:link,
    &:visited {
      align-self: center;
      text-decoration: none;
      color: $color-blue-secondary;
      text-align: center;
      font-size: 1.2rem;
      line-height: 1;
      font-family: $font-family-primary;
      position: absolute;
      right: 0;
      font-weight: bold;
    }
  }
}

.next,
.prev {
  color: $color-white;
  position: absolute;
  background: $color-black;
  background: rgba($color-black, 0.6);
  top: 50%;
  z-index: 4;
  font-size: 2em;
  margin-top: -1.2em;
  opacity: 0.5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.next:hover,
.prev:hover,
nav button:hover {
  cursor: pointer;
  opacity: 1;
}
.next {
  right: 0;
  padding: 10px 5px 15px 10px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.prev {
  left: 0;
  padding: 10px 10px 15px 5px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.none {
  display: none;
}

.show {
  z-index: 3;
  opacity: 1;
}
