/* main */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Fira sans", sans-serif;
}
/* navigation */
nav {
  position: absolute;
  width: 100%;
  z-index: 999;
  transition: top 0.3s;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding: 0 3%;
  margin: 0;
}
nav ul li {
  margin: 0 1em 0 1em;
  padding: 1em 0 1em;
}
nav ul li a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.2em;
}

nav ul li a:hover,
nav ul li a:focus,
nav ul li a:active {
  color: #ffffff;
  text-decoration: none;
}

nav ul li a::after {
  content: "";
  display: block;
  bottom: 3px;
  left: 0;
  height: 2px;
  width: 100%;

  /*line color*/
  background-color: #fff;
  transform-origin: right bottom;
  transform: scale(0, 1);
  transition: color 0.1s, transform 0.2s ease-out;
  -webkit-box-shadow: 0px 0px 39px -6px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0px 0px 39px -6px rgba(255, 255, 255, 0.75);
  box-shadow: 0px 0px 39px -6px rgba(255, 255, 255, 0.75);
}
nav ul li a:active::after {
  background-color: #fff;
}
nav ul li a:hover::after,
a:focus::after {
  transform-origin: left bottom;
  transform: scale(1, 1);
}
nav .logonav {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 40px;
  width: 40px;
  color: #fff;
  text-align: center;
}
#logonav {
  width: 100%;
  height: 100%;
  clear: both;
  display: inline-block;
  text-decoration: none;
  font-size: 1.8em;
  font-weight: 700;
  line-height: 40px;
  margin: 0;
  color: #fff;
}
nav .top-nav .icon {
  font-size: 25px;
}

.scrolling {
  background-color: rgba(59, 59, 59, 0.5);
  height: 60px;
  position: fixed;
  transition: all 0.5s;
  z-index: 9999;
}

/*header*/

#header {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 0 15%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url(img/bck.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  z-index: 1;
}

#header #name-container {
  margin: 0;
  padding: 1em;
  box-sizing: border-box;
  z-index: 2;
  /*display: flex;
  flex-direction: row;
  flex-wrap: wrap;*/
  color: #ffffff;
  background-color: rgba(77, 77, 77, 0.29);
  text-align: center;
}

header h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2.5em;
  display: block;
  margin-top: 0;
}

header h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  display: block;
  text-transform: uppercase;
}

#scroll-img {
  width: 50px;
  height: 80px;
  position: absolute;
  z-index: 4;
  background: url(img/scr.png);
  align-self: center;
  top: 88%;
}

/*about me*/
#about {
  position: relative;
  height: auto;
  padding: 50px 5%;
}

.about-container {
  display: flex;
  flex-direction: row;
}

.about-tile {
  flex-basis: 50%;
  box-sizing: border-box;
  margin: 1em 1.5em;
}

#about h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2em;
  color: #0b6890;
  text-align: left;
}

#about h3 {
  font-size: 1em;
  text-transform: uppercase;
}

#about p {
  font-family: "Fira Sans";
  text-align: justify;
  font-size: 1.1em;
  line-height: 1.5em;
}

.skills-list {
  list-style-type: none;
  line-height: 1.5em;
  font-size: 1.1em;
  -webkit-padding-start: 0;
}

/*projects */

#projects {
  padding: 50px 5%;
}

#projects h2 {
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2em;
  color: #0b6890;
}

#projects-grid-container {
  width: 100%;
  margin: 40px auto;
  height: auto;
  display: grid;
  grid-template-columns: 40% 5% 10% 5% 5% 35%;
  grid-auto-rows: auto;
  grid-row-gap: 30px;
}

.project-tile {
  background-color: #336699;
  width: 100%;
  height: 400px;
}

.project-tile:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

.tile1 {
  grid-column: 1/4;
  grid-row: 1/2;
  background: url(img/wecreate_mini2.jpg) no-repeat;
}

.tile2 {
  grid-column: 5/7;
  grid-row: 1/2;
  background: url(img/rps.jpg) no-repeat top;
}
.tile3 {
  grid-column: 1/2;
  grid-row: 2/3;
  background: url(img/sketch_mni2.jpg) no-repeat top;
}
.tile4 {
  grid-column: 3/7;
  grid-row: 2/3;
}

/*photos*/

#photos {
  padding: 50px 5%;
}

#photos h2 {
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2em;
  color: #0b6890;
  margin: 0 0 0.75em 0;
  padding: 0;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.slides {
  position: relative;
  display: block;
}

.slides:focus {
  outline: 0;
}

.slides figure {
  position: absolute;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
  -webkit-transition: opacity 1.2s;
  transition: opacity 1.2s;
}

.slides figure:first-child {
  position: relative;
}

.slides figure img {
  display: block;
}
.slides .show {
  z-index: 3;
  opacity: 1;
}

.next,
.prev {
  color: #fff;
  position: absolute;
  background: #000;
  background: rgba(0, 0, 0, 0.6);
  top: 50%;
  z-index: 4;
  font-size: 2em;
  margin-top: -1.2em;
  opacity: 0.5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.next:hover,
.prev:hover,
nav button:hover {
  cursor: pointer;
  opacity: 1;
}
.next {
  right: 0;
  padding: 10px 5px 15px 10px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.prev {
  left: 0;
  padding: 10px 10px 15px 5px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

#photos nav {
  text-align: center;
  line-height: 25px;
  position: relative;
  font-family: "Courier New", Courier, monospace;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

#photos nav button {
  background: #fff;
  color: #0b6890;
  position: relative;
  border: none;
  outline: none;
  align-self: flex-end;
}

#photos nav ul {
  margin: 0;
  padding: 0;
  text-align: center;
  justify-content: center;
}

#photos nav ul > li {
  display: inline-block;
  list-style-type: none;
}

#photos nav ul > li button {
  width: 15px;
  height: 20px;
  line-height: 25px;
  font-size: 32px;
  opacity: 0.7;
}

#photos nav button.play {
  position: absolute;
  width: 30px;
  height: 20px;
  font-size: 15px;
  line-height: 15px;
  right: 0;
  bottom: 0;
  margin-bottom: 1.1em;
}

#photos nav button.play:before {
  content: "\25B6";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#photos nav button.play.on:before {
  content: "\23f8";
}

#photos nav ul > li button:before {
  content: "\2022";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#photos nav ul > li button.selected {
  opacity: 1;
}

#photos a {
  align-self: center;
  text-decoration: none;
  color: #0b6890;
  text-align: center;
  font-size: 0.9em;
  line-height: 25px;
  font-family: "Montserrat", sans-serif;
  position: absolute;
  right: 0;
}

/* contact */

#contact {
  padding: 50px 5%;
  width: 80%;
  margin: 80px auto;
  display: flex;
  flex-direction: row;
}

#contact h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2em;
  color: #0b6890;
  padding-top: 0;
  text-align: left;
}

.social-label {
  text-transform: uppercase;
  padding-top: 20px;
}
.contact-col-first {
  flex-basis: 65%;
}
.contact-col-second {
  flex-basis: 35%;
  align-self: flex-end;
}

#contact p {
  color: #686868;
}

.social a {
  padding: 1em;
}

.mail-class {
  text-decoration: none;
  color: #0b6890;
}

.social i {
  font-size: 2em;
  color: #0b6890;
}

/*footer*/

footer {
  max-width: 1800px;
  height: 200px;
  background: url(img/footer.jpg);
  z-index: 1;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.copyrights {
  display: block;
  height: auto;
  width: 50%;
  margin: 40px auto;
  color: #fff;
  /*background: url(img/rm-logo2.png) no-repeat; */
  text-decoration: none;
  text-align: center;
}

/*MEDIA QUERIES*/

@media screen and (max-width: 950px) {
  #contact {
    width: 100%;
  }

  .about-container {
    display: flex;
    flex-direction: column;
  }
}
/*tablet*/

@media screen and (max-width: 768px) {
  .logonav {
    display: none;
  }

  /*burger menu*/
  #burger-header-nav {
    display: block;
    height: 40px;
    width: 100%;
    background: url(img/menu.png) no-repeat 98% center;
    cursor: pointer;
  }

  .top-nav {
    height: 0;
    overflow: hidden;
  }
  nav ul {
    height: 0;
    text-align: center;
    width: 40%;
    margin: 0 2em 0 auto;
  }

  .top-nav.open {
    overflow: initial;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    height: auto;
    background-color: rgba(59, 59, 59, 0.5);
    z-index: 15;
  }
  nav ul li {
    margin: 0;
  }

  nav ul li:hover {
    background-color: rgba(59, 59, 59, 0.6);
  }

  nav ul li a {
    text-align: center;
    margin: 0 auto;
  }

  nav ul li a::after {
    transform: none;
    transition: none;
    height: 0;
  }

  #photos {
    padding-bottom: 20px;
  }

  #contact {
    flex-direction: column;
    padding-top: 20px;
    margin-top: 20px;
  }

  .contact-col-first {
    flex: 1;
  }
  .contact-col-second {
    flex: 1;
    align-self: auto;
  }
}

@media screen and (max-width: 500px) {
  #header {
    justify-content: flex-end;
  }

  #header #name-container {
    margin-bottom: 100px;
  }

  nav ul {
    width: 80%;
    margin: 0 auto;
  }
}
