/* main */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}
/* navigation */
nav {
  position: absolute;
  width: 100%;
  z-index: 999;
  transition: top 0.3s;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding: 0 3%;
  margin: 0;
}
nav ul li {
  margin: 0 1em 0 1em;
  padding: 1em 0 1em;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.2s, background-color 0.2s, padding 0.2s ease-in;
  font-size: 1.1em;
  text-shadow: 1px 1px 2px rgb(42, 42, 42);
}

nav ul li a:hover,
nav ul li a:focus,
nav ul li a:active {
  color: #ffffff;
  text-decoration: none;
}

nav ul li a::after {
  content: "";
  display: block;
  bottom: 3px;
  left: 0;
  height: 2px;
  width: 100%;

  /*line color*/
  background-color: #6a3b29;
  transform-origin: right bottom;
  transform: scale(0, 1);
  transition: color 0.1s, transform 0.2s ease-out;
  -webkit-box-shadow: 0px 0px 39px -6px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0px 0px 39px -6px rgba(255, 255, 255, 0.75);
  box-shadow: 0px 0px 39px -6px rgba(255, 255, 255, 0.75);
}
nav ul li a:active::after {
  background-color: #6a3b29;
}
nav ul li a:hover::after,
a:focus::after {
  transform-origin: left bottom;
  transform: scale(1, 1);
}
nav .logonav {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 40px;
  width: 40px;
  /*background-color: white;*/
  text-align: center;
}
#logonav {
  width: 100%;
  height: 100%;
  clear: both;
  display: inline-block;
  text-decoration: none;
  font-size: 1.8em;
  font-weight: 700;
  line-height: 40px;
  margin: 0;
  color: rgb(0, 0, 0);
}
nav .top-nav .icon {
  font-size: 25px;
}

nav.scrolling {
  background-color: rgba(59, 59, 59, 0.79);
  height: 60px;
  position: fixed;
  transition: all 0.5s;
  z-index: 9999;
}

/*main header*/

#header {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 0 15%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url(https://github.com/berbua/portfolio/blob/master/img/bcgd_big.jpg?raw=true);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  z-index: 1;
}
