/* main */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Fira sans", sans-serif;
}
/* Main navigation */
.main-nav {
  position: absolute;
  width: 100%;
  z-index: 999;
  transition: top 0.3s;
}

.main-nav-list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding: 0 3%;
  margin: 0;
}
.main-nav-list li {
  margin: 0 1em 0 1em;
  padding: 1em 0 1em;
}
.main-nav-list a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.2em;
}

.main-nav-list a:hover,
.main-nav-list a:focus,
.main-nav-list a:active {
  color: #ffffff;
  text-decoration: none;
}

.main-nav-list a::after {
  content: "";
  display: block;
  bottom: 3px;
  left: 0;
  height: 2px;
  width: 100%;

  /*line color*/
  background-color: #fff;
  transform-origin: right bottom;
  transform: scale(0, 1);
  transition: color 0.1s, transform 0.2s ease-out;
  -webkit-box-shadow: 0px 0px 39px -6px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0px 0px 39px -6px rgba(255, 255, 255, 0.75);
  box-shadow: 0px 0px 39px -6px rgba(255, 255, 255, 0.75);
}
.main-nav-list a:active::after {
  background-color: #fff;
}
.main-nav-list a:hover::after,
a:focus::after {
  transform-origin: left bottom;
  transform: scale(1, 1);
}
.logonav-container {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 40px;
  width: 40px;
  color: #fff;
  text-align: center;
}
.logonav-icon {
  width: 100%;
  height: 100%;
  clear: both;
  display: inline-block;
  text-decoration: none;
  font-size: 1.8em;
  font-weight: 700;
  line-height: 40px;
  margin: 0;
  color: #fff;
}

.scrolling {
  background-color: rgba(59, 59, 59, 0.5);
  height: 60px;
  position: fixed;
  transition: all 0.5s;
  z-index: 9999;
}

/* Header */

.header-section {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 0 15%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url(img/bck2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  z-index: 1;
}

.name-container {
  margin: 0;
  padding: 1em;
  box-sizing: border-box;
  z-index: 2;
  /*display: flex;
  flex-direction: row;
  flex-wrap: wrap;*/
  color: #ffffff;
  background-color: rgba(77, 77, 77, 0.29);
  text-align: center;
}

header h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2.5em;
  display: block;
  margin-top: 0;
}

header h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  display: block;
  text-transform: uppercase;
}

.scroll-icon {
  width: 50px;
  height: 80px;
  font-size: 2em;
  color: #fff;
  position: absolute;
  z-index: 4;
  align-self: center;
  top: 85%;
}

/* About me section*/

.about-section {
  position: relative;
  height: auto;
  padding: 50px 5%;
}

.about-container {
  display: flex;
  flex-direction: row;
}

.about-tile {
  flex-basis: 50%;
  box-sizing: border-box;
  margin: 1em 1.5em;
}

.about-section h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2em;
  color: #0b6890;
  text-align: center;
}

.about-section h3 {
  font-size: 1em;
  text-transform: uppercase;
}

.about-section p {
  font-family: "Fira Sans";
  text-align: justify;
  font-size: 1.1em;
  line-height: 1.5em;
}

.about-section a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.skills-list {
  list-style-type: none;
  line-height: 1.5em;
  font-size: 1.1em;
  -webkit-padding-start: 0;
  margin-left: 0;
  padding-left: 0;
}

/* Projects */

.projects-section {
  padding: 50px 5%;
  box-sizing: border-box;
}

.projects-section h2 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2em;
  color: #0b6890;
}

.projects-grid-container {
  width: 80%;
  margin: 40px auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.project-image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.project-tile:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

.project-tile {
  flex-basis: 40%;
  margin: 1em 5%;
  height: auto;
  box-sizing: border-box;
}

/* Photos*/

.photos-section {
  padding: 50px 5%;
}

.photos-section h2 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2em;
  color: #0b6890;
  margin: 0 0 0.75em 0;
  padding: 0;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.slides {
  position: relative;
  display: block;
}

.slides:focus {
  outline: 0;
}

.slides figure {
  position: absolute;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
  -webkit-transition: opacity 1.2s;
  transition: opacity 1.2s;
}

.slides figure:first-child {
  position: relative;
}

.slides figure img {
  display: block;
}
.slides .show {
  z-index: 3;
  opacity: 1;
}

.next,
.prev {
  color: #fff;
  position: absolute;
  background: #000;
  background: rgba(0, 0, 0, 0.6);
  top: 50%;
  z-index: 4;
  font-size: 2em;
  margin-top: -1.2em;
  opacity: 0.5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.next:hover,
.prev:hover,
nav button:hover {
  cursor: pointer;
  opacity: 1;
}
.next {
  right: 0;
  padding: 10px 5px 15px 10px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.prev {
  left: 0;
  padding: 10px 10px 15px 5px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.photos-nav {
  text-align: center;
  line-height: 25px;
  position: relative;
  font-family: "Courier New", Courier, monospace;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.photos-nav button {
  background: #fff;
  color: #0b6890;
  position: relative;
  border: none;
  outline: none;
  align-self: flex-end;
}

.photos-nav ul {
  margin: 0;
  padding: 0;
  text-align: center;
  justify-content: center;
}

.photos-nav-list li {
  display: inline-block;
  list-style-type: none;
}

.photos-nav-list li button {
  width: 15px;
  height: 20px;
  line-height: 25px;
  font-size: 32px;
  opacity: 0.7;
}

.photos-nav button.play {
  position: absolute;
  width: 30px;
  height: 20px;
  font-size: 15px;
  line-height: 15px;
  right: 0;
  bottom: 0;
  margin-bottom: 1.1em;
}

.photos-nav button.play:before {
  content: "\25B6";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.photos-nav button.play.on:before {
  content: "\23f8";
}

.photos-nav-list li button:before {
  content: "\2022";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.photos-nav-list li button.selected {
  opacity: 1;
}

.photos-more {
  align-self: center;
  text-decoration: none;
  color: #0b6890;
  text-align: center;
  font-size: 0.9em;
  line-height: 25px;
  font-family: "Montserrat", sans-serif;
  position: absolute;
  right: 0;
}

/* Contact */

.contact-section {
  padding: 50px 5%;
  width: 80%;
  margin: 80px auto;
  display: flex;
  flex-direction: row;
}

.contact-section h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2em;
  color: #0b6890;
  padding-top: 0;
  text-align: left;
}

.social-label {
  text-transform: uppercase;
  padding-top: 20px;
}
.contact-col-first {
  flex-basis: 65%;
}
.contact-col-second {
  flex-basis: 35%;
  align-self: flex-end;
}

.contact-section p {
  color: #686868;
}

.social a {
  padding: 1em;
  text-decoration: none;
}

.mail-class {
  text-decoration: none;
  color: #0b6890;
}

.social i {
  font-size: 2em;
  color: #0b6890;
}

/* Footer */

footer {
  max-width: 1800px;
  height: 200px;
  background: url(img/footer.jpg);
  z-index: 1;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.copyrights {
  display: block;
  height: auto;
  width: 50%;
  margin: 40px auto;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

/*MEDIA QUERIES*/

@media screen and (max-width: 950px) {
  .contact-section {
    width: 100%;
  }

  .about-container {
    display: flex;
    flex-direction: column;
  }
  .project-tile {
    flex-basis: 80%;
  }
}
/* Tablet */

@media screen and (max-width: 768px) {
  .logonav-container {
    display: none;
  }

  .name-container {
    background-color: rgba(77, 77, 77, 0);
  }

  /* Burger menu */
  .mobile-menu {
    display: block;
    height: 40px;
    width: 100%;
    background: url(img/menu.png) no-repeat 98% center;
    cursor: pointer;
    margin-bottom: 20px;
  }

  .main-nav-list {
    height: 0;
    overflow: hidden;
    text-align: center;
    width: 40%;
    margin: 0 0 0 auto;
  }

  .main-nav-list.open {
    overflow: initial;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    height: 100vh;
    background-color: rgba(59, 59, 59, 0.5);
    z-index: 15;
  }
  .main-nav-list li {
    margin: 0;
  }

  .main-nav-list li:hover {
    background-color: rgba(59, 59, 59, 0.6);
  }

  .main-nav-list a {
    text-align: center;
    margin: 0 auto;
  }

  .main-nav-list a::after {
    transform: none;
    transition: none;
    height: 0;
  }
  /*Photos */
  .photos-section {
    padding-bottom: 20px;
  }
  .projects-grid-container {
    width: 100%;
    margin: 40px auto;
    height: auto;
  }

  .contact-section {
    flex-direction: column;
    padding: 20px 5%;
    margin-top: 20px;
  }

  .contact-col-first {
    flex: 1;
  }
  .contact-col-second {
    flex: 1;
    align-self: auto;
  }
}

/* Mobile devices */

@media screen and (max-width: 500px) {
  .scroll-icon {
    top: 75%;
  }
  .header-section {
    justify-content: flex-end;
  }

  .name-container {
    margin-bottom: 100px;
  }

  .main-nav-list {
    width: 80%;
    margin: 0 auto;
  }
  .photos-nav-list {
    margin: 0 auto;
  }
  .photos-nav {
    flex-direction: column;
  }
  .photos-more {
    position: inherit;
  }

  .contact-section {
    margin: 30px auto;
  }
}
