body {
  font-family: $font-family-secondary;
  font-weight: 400;
}

.heading-primary {
  color: $color-gray-light-1;
  font-family: $font-family-primary;
  &--main {
    display: block;
    font-size: 4rem;
    font-weight: 100;
    margin-top: 0;
  }

  &--sub {
    display: block;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 1rem;
  }
}

.heading-secondary {
  font-family: $font-family-primary;
  font-weight: 700;
  font-size: 3.5rem;
  color: $color-blue-primary;
  text-align: center;
  text-transform: uppercase;
}

.heading-tertiary {
  font-family: $font-family-primary;
  color: $color-blue-primary;
  font-size: 2.2rem;
}

.paragraph {
  font-family: $font-family-secondary;
  text-align: justify;
  font-size: 2rem;
}
